@media only screen and (min-width: 1024px) {
  img {
    max-width: 20%;
  }
} 

@media only screen and (max-width: 1024px) {
  img {
    max-width: 50%;
  }
}


.div--grid--center {
  display: grid;
  justify-items: center;
}

.h3--margin--bottom {
  h3 {
    margin-top: 1px;
    margin-bottom: 1px;
  }
}

