@media only screen and (min-width: 1024px) {
  .div__background--image--field {
    background-image: url("public/images/bgImage.svg");
    padding-top: 24px;
    text-align: center;
    width: 100%;
  }

  .div_min--height {
    align-items: center;
    height: 78px;
    text-align: center;
  }

  h1 {
    font-size: 40px;
  }

  img {
    max-width: 20%;
  }
} 

@media only screen and (max-width: 1024px) {
  .div__background--image--mobile {
    background-image: url("public/images/maracana.svg");
    text-align: center;
    width: 100%;
    height: 76vh;
    background-repeat: no-repeat;
    padding-top: 35%;
  }

  .div_min--height {
    text-align: center;
  }

  h1 {
    font-size: 64px;
  }

  img {
    max-width: 65%;
  }
}

a {
  color: #FFFFFF;
}

.div__background--color--green {
  background-color: #496E0F;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 32px;
}

.div__background--grey {
  background-color: grey;
  border: #FFFFFF solid 4px ;
  border-radius: 20px;
  margin-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  right: 64px;
  bottom: 64px;
  text-align: center;
}

.div__grid--center {
  display: grid;
  justify-items: center;
}

.h3__margin--bottom {
  h3 {
    margin-top: 1px;
    margin-bottom: 1px;
  }
}

.h2__padding {
  margin-top: 32px;
  margin-bottom: 8px;
}

.position--fixed{
  position:fixed;
}

.visibility_hidden{
  visibility: hidden;
}